In [1]:
# Yooo lets see how this goes 
# btw, using FirstGenPokemon.csv and unzipped pokemon images named "dataset"

In [2]:
# Importing the csv file into a dataframe

import pandas as pd  # moves column over by 1
attributes = pd.read_csv("FirstGenPokemon.csv")
attributes.head()

,Number,Name,Types,Type1,Type2,Height(m),Weight(kg),Male_Pct,Female_Pct,Capt_Rate,...,Poison_Dmg,Ground_Dmg,Flying_Dmg,Psychic_Dmg,Bug_Dmg,Rock_Dmg,Ghost_Dmg,Dragon_Dmg,Evolutions,Legendary
0,1,Bulbasaur,2,grass,poison,0.7,6.9,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
1,2,Ivysaur,2,grass,poison,1.0,13.0,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
2,3,Venusaur,2,grass,poison,2.0,100.0,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
3,4,Charmander,1,fire,None,0.6,8.5,87.5,12.5,45,...,1.0,2.0,1.0,1.0,0.5,2.0,1,1,2,0
4,5,Charmeleon,1,fire,None,1.1,19.0,87.5,12.5,45,...,1.0,2.0,1.0,1.0,0.5,2.0,1,1,2,0

In [3]:
# Source: https://stackoverflow.com/questions/71009215/how-to-make-a-dataframe-from-images-python-pandas
# Imports the images in the folder "dataset" into a dataframe

import pandas as pd
from pathlib import Path

image_dir_path = 'dataset'
paths = [path.parts[-3:] for path in
         Path(image_dir_path).rglob('*.png')]
image_dataset = pd.DataFrame(data=paths, columns=['dataset', 'Pokemon', 'Images'])
image_dataset.head()

   dataset   Pokemon        Images
0  dataset  Squirtle  00000170.png
1  dataset  Squirtle  00000206.png
2  dataset  Squirtle  00000004.png
3  dataset  Squirtle  00000010.png
4  dataset  Squirtle  00000005.png

In [3]:
# -------------------------------------------------------------

In [4]:
#pip install opencv-python

In [5]:
#pip install tensorflow

In [ ]:
import numpy as np
import os
from tensorflow.keras.preprocessing.image import img_to_array, load_img
import pandas as pd


image_dataset_dir = "Pikachu"
new_dataset_folder = "Pikachu_new"


dataset = {
    "image" :[],
    "label" : []
}
for label in os.listdir(image_dataset_dir):
     images_dir= image_dataset_dir + "/" + label
     if not os.path.isdir(images_dir):
        continue
     for image_file in os.listdir(images_dir):
        if not image_file.endswith(".jpg", ".png",".tiff"):
            continue 
        img = load_img(os.path.join(image_dataset_dir, label, image_file))
        x = img_to_array(img)                  
        

        rel_path = label + "/" + os.path.splitext(image_file)[0] + '.npz'
        os.makedirs(new_dataset_folder + "/" + label, exist_ok=True)
        npz_file = os.path.join(new_dataset_folder, rel_path)
        np.savez(npz_file, x)
        dataset["image"].append(rel_path)
        dataset["label"].append(label)

                         
df = pd.DataFrame(dataset)
df.to_csv(os.path.join(new_dataset_folder, "train.csv"), index=False)

print('Dataset converted to npz and saved here at %s '%new_dataset_folder)

df.head()